@tailwind base;
@tailwind components;
@tailwind utilities;

td{
  padding: 5px 10px!important;
}
.rs-picker input{
background: rgb(248 250 252 / var(--tw-bg-opacity))!important;
}
.rs-picker .rs-input-group-addon {
background: rgb(185 28 28 / var(--tw-bg-opacity))!important;
border-radius:50%;
border: none;
  display: flex;
  width: 25px!important;
  height: 25px;
  align-items: center;
  justify-content: center;
  padding: 0!important;
  color: #fff;
  font-size: 0.8rem;
  margin-top: 3px;
  margin-right: 5px;
}